# Xcode
*.xcuserstate
xcuserdata/
DerivedData/
build/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (unused, but ignored just in case)
Pods/
Carthage/Build/
